@import '@/styles/variables.scss';

/*修改antd默认样式*/
.ant-menu-horizontal {
	border: none;
}

.ant-menu-submenu-selected {
	border: none;
	color: $white;
	font-size: 20px;
	:hover {
		background: $light-blue;
	}
}

.submenu {
	background: #00c3ff;
	color: $white;
	
}